.title {
    background-color: black;
    color: rgb(161, 218, 235);

    
}
.my {
    color: white;
}
.sub {
    background-color: rgb(234, 183, 183);
    text-align: center;
}
.contact{
    background-color: azure;
    text-align: end;
    text-decoration: underline;
}
