<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class=" container d-flex justify-content-between m-5">
        <h2>Add a New Pokemon</h2>
        <div>
            <a href="/dashboard" class="btn btn-secondary">Back To Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <div class="row text-center m-5">
        <div class="col-6">
            <form action="/pokemons/{{p.id}}/update" method="post">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{p.name}}">
                </div>
                <div class="form-group">
                    <label for="">Type</label>
                    <select name="type" id="" class="form-control"value="{{p.type}}">
                        <option value="GRASS">GRASS</option>
                        <option value="FIRE">FIRE</option>
                        <option value="WATER">WATER</option>
                        <option value="ELECTRIC">ELECTRIC</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Power</label>
                    <input type="text" name="power" class="form-control"value="{{p.power}}">   
                </div>
                <div class="form-group">
                    <label for="">HP</label>
                    <input type="text" name="hp" class="form-control"value="{{p.hp}}">   
                </div>
                <div class="form-group">
                    <label for="">Image</label>
                    <input type="text" name="image" class="form-control"value="{{p.image}}">   
                </div>
                <div class="col-6">
                    {%for message in get_flashed_messages()%}
                    <p class="text-danger">{{message}}</p>
                    {% endfor %}
                    <input type="submit" value="submit" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</body>
</html>