.container{
    width: 1080px;
    margin: 0 auto;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(81, 78, 78);
    width: 800px;
    height: 70px;
    
}






.nav img{
    position: relative;
    top:20px;
    left: 25px;
}
.nav2{
    display: flex;
}
.liste{
    list-style-type: none;
}


.pic2{
    width: 20;
    height: 20px;
    display:inline-block;
    
}
.pic1 {
    width: 20px;
    height: 20px;
    display: inline-block;
    
}


.liste1{
    text-decoration: none;
}
.liste1{
    text-decoration: none;
    justify-content: center;
}






