.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: bisque;
    background-color: grey;
}

.nav-links {
    display: flex;
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 1.5em;
}

.btn {
    background-color: rgb(146, 124, 183);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}