*{
    margin: 0% auto;
    color: azure;
    font-family: sans-serif;

}
    

.nav{
    display: flex;
    width: 70%;
justify-content: space-between;
background-color: gray;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    flex: 3;
    list-style-type: none;
}
a {
    text-decoration : none;
}
.nav-title{
flex: 1;
margin-left: 10px;
}
.btn{
    background-color: rgb(55, 159, 203);
}
.active{
    font-weight: bold;
}
