<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/process" method="post" class="bg-dark text-primary p-5 rounded col-6 mx-auto">
        <h1>Dojo Survey</h1>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="location">Dojo Location:</label>
            <select name="location"  class="form-control">
                <option value="">Choose one</option>
                <option value="Chicago">Chicago</option>
                <option value="Burbank">Burbank</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
            </select>
        </div>
        <div class="langage">
            <label for="language">Favorite Language:</label>
            <select name="language"  class="lanage_select">
                <option value="">Choose one</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div class="comment">
            <label for="name">Commentaire:</label>
            <textarea name="Commentaire"  cols="30" rows="10" class="cpment_area"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</body>
</html>