<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>dashbord</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between m-3">
            <h1 class="display-4">Welcome,User Name</h1>
            <div>
                <a href="" class="btn btn-second"></a>
                <a href="" class="btn btn-danger"></a>
            </div>
        </div>
    </div>
</body>
</html>